@import "styles/theme";

.headerButton{
  padding: 1.5rem 1rem;
  background: $primary-color;
  flex: 1;
  text-align: center;

  &:hover{
    background-color: $on-primary-color;
    color: $primary-color;
  }
}
