@import "styles/theme";

.banner {
  aspect-ratio: 3;
  display: flex;
  align-items: center;
  min-height: 25rem;
}

.content {
  position: absolute;
  width: max(50%, 300px);
  padding: 4rem;
  color: $on-primary-color;
}
